.todoCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

.todoCont h2 {
  color: rgb(55, 179, 55);
}

.todoCont_todos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}